{% extends "base.html" %}

{% block title %}Aaron Hastings{% endblock %}

{% load static %}

{% block heading %}
<img class="departures-arrivals-symbol" src="{% static 'img/departures.png' %}">Aaron Hastings
{% endblock %}

{% block head %}<!-- Head goes here. -->{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xl-3">
		<div class="card shadow p-3 mb-5 bg-white rounded">
			<div class="custom-profile-img-container">
				<img class="card-img-top custom-card-img" src="{% static 'img/'|add:card_profile.img_name|add:'_logo.png' %}" alt="Profile photo">
			</div>

			<div class="card-body">
				<h5 class="card-title">{{ card_profile.title }}</h5>
				<p class="card-text">{{ card_profile.text }}</p>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="row">
			{% for card in cards.row_top.values %}
			<div class="col-xl-6 custom-card-col">
				<a href="{{ card.url }}" target="_blank">
					<div class="card custom-card-main shadow p-3 mb-5 bg-white rounded">
						<div class="custom-card-img-container">
							<img class="card-img-top custom-card-img" src="{% static 'img/'|add:card.img_name|add:'_logo.png' %}" alt="{{ card.title }} logo">
						</div>

						<div class="card-body">
							<h5 class="card-title">{{ card.title }}</h5>
							<p class="card-text">{{ card.text }}</p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>

		<div class="row">
			{% for card in cards.row_bottom.values %}
			<div class="col-xl-6 custom-card-col">
				<a href="{{ card.url }}" target="_blank">
					<div class="card custom-card-main shadow p-3 mb-5 bg-white rounded">
						<div class="custom-card-img-container">
							<img class="card-img-top custom-card-img" src="{% static 'img/'|add:card.img_name|add:'_logo.png' %}" alt="{{ card.title }} logo">
						</div>

						<div class="card-body">
							<h5 class="card-title">{{ card.title }}</h5>
							<p class="card-text">{{ card.text }}</p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
	</div>
</div>

{% block scripts %}<!-- Scripts go here. -->{% endblock %}
{% endblock %}

