<!--
	Copyright © 2020 Aaron Hastings

	This file is part of aaronhastings.me.

	aaronhastings.me is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	aaronhastings.me is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with aaronhastings.me.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends "base.html" %}

{% block title %}Aaron Hastings{% endblock %}

{% load static %}

{% block head %}<!-- Head goes here. -->{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xl-4">
		<div class="card custom-card-profile shadow p-3 mb-5 bg-white rounded">
			<div class="custom-profile-img-container">
				<img class="card-img-top custom-card-img" src="{% static 'img/'|add:card_profile.img_name|add:'_logo.png' %}" alt="Profile photo">
			</div>

			<div class="card-body custom-card-body-profile">
				<table class="table table-borderless custom-table">
					<tbody>
						{% for profile_key, profile_value in card_profile.text.items %}
						<tr>
							<td class="align-middle"><img src="{% static 'img/'|add:profile_value.img_name|add:'.svg' %}" alt="Location icon"></td>
							<td class="align-middle">{{ profile_value.text }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="row">
			{% for card in cards.row_top.values %}
			<div class="col-xl-6 custom-card-col">
				<a href="{{ card.url }}" target="_blank">
					<div class="card custom-card-main shadow p-3 mb-5 bg-white rounded">
						<div class="custom-card-img-container">
							<img class="card-img-top custom-card-img" src="{% static 'img/'|add:card.img_name|add:'_logo.png' %}" alt="{{ card.title }} logo">
						</div>

						<div class="card-body">
							<h5 class="card-title">{{ card.title }}</h5>
							<p class="card-text">{{ card.text | linebreaks }}</p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>

		<div class="row">
			{% for card in cards.row_bottom.values %}
			<div class="col-xl-6 custom-card-col">
				<a href="{{ card.url }}" target="_blank">
					<div class="card custom-card-main shadow p-3 mb-5 bg-white rounded">
						<div class="custom-card-img-container">
							<img class="card-img-top custom-card-img" src="{% static 'img/'|add:card.img_name|add:'_logo.png' %}" alt="{{ card.title }} logo">
						</div>

						<div class="card-body">
							<h5 class="card-title">{{ card.title }}</h5>
							<p class="card-text">{{ card.text | linebreaks }}</p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% block scripts %}<!-- Scripts go here. -->{% endblock %}
{% endblock %}

