/*
	Copyright © 2020 Aaron Hastings

	This file is part of aaronhastings.me.

	aaronhastings.me is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	aaronhastings.me is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with aaronhastings.me.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
    background-color: #fafafa !important;
}

.custom-card-col {
    /*margin-right: -0.5em;*/
}

a:active {
   color: #212529;
   text-decoration: none;
}

a:hover {
   color: #212529;
   text-decoration: none;
}

a:link {
   color: #212529;
   text-decoration: none;
}

a:visited {
   color: #212529;
   text-decoration: none;
}

/*.custom-card-body-profile {*/
/*    line-height: 1.8;*/
/*}*/

.custom-card-img {
    padding: 1em;
    object-fit: cover;
}

.custom-card-img-container {
    width: 11em;
    height: 11em;
    line-height: 11em;
    margin: auto;
}

.custom-card-main {
    /*width: 22em;*/
    height: 19.5em;
    transition: all 0.3s ease;
}

.custom-card-main:hover {
    transform: scale(1.05);
}

.custom-card-profile {
    top: 7.65rem;
    position: sticky !important;
}

.custom-profile-img-container {
    width: 10em;
    margin: auto;
}

.custom-table>tbody>tr>td, .custom-table>tbody>tr>th, .custom-table>tfoot>tr>td, .custom-table>tfoot>tr>th, .custom-table>thead>tr>td, .custom-table>thead>tr>th {
    padding: 0.4em;
}

/*.card {*/
/*    width: auto;*/
/*    margin: 1em;*/
/*}*/

#link-source-code {
  position: fixed;
  bottom: 8px;
  right: 16px;
  font-size: 12px;
}

.navbar {
    background: #FFD000;
    min-height: 2em;
}

#navbar-title {
    font-weight: 500;
}

.departures-arrivals-symbol {
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
    margin-bottom: 0.1em;
}

/*.row {*/
/*    margin-bottom: -1em;*/
/*}*/

@media screen and (max-width: 480px) {
    .navbar-brand {
        padding-left: 0.3em;
        font-size: 170% !important;
    }
}

@media screen and (min-width: 768px) {
}

@media only screen and (min-width: 767px) {
    .navbar-brand {
        padding-left: 0.3em;
        font-size: 300% !important;
    }
}

